<section class="w-full flex flex-col bg-blue-500 dark:bg-slate-800 text-center pt-14">
    <div class="max-container lg:w-3/4">
        <h1 class="text-4xl md:text-5xl text-slate-50 dark:text-slate-300 leading-relaxed">GTFOcurls</h1>
        <h2 class="text-xl md:text-2xl text-slate-200 dark:text-slate-300 leading-tight font-extralight tracking-wide text-base mt-6 mb-20">
            GTFOCurls is a curated list of cURL commands that can be used to exploit CVE vulnerabilities or communicate with exotic services.
        </h2>
    </div>
</section>
